// Utilities

@import 'utilities/_mixins.scss';
@import 'utilities/_typography.scss';

// Components

@import 'components/_header-nav.scss';
@import 'components/_hero.scss';
@import 'components/_about.scss';
@import 'components/_services.scss';
@import 'components/_works.scss';
@import 'components/_team.scss';

// Vendors

@import 'vendors/_fontello.scss';
@import 'vendors/_owl.carousel.min.scss';
@import 'vendors/_owl.theme.default.min.scss';

// Main Styles

html {
    font-size: 10px;
    font-family: 'Lato', sans-serif;
    line-height: 1.6;
    box-sizing: border-box;
}

body {
    box-sizing: border-box;
    font-size: 1.6rem;
    color: #333;
    width: 100%;
    overflow-x: hidden;
}

// Main layout

.container {
    @include flex-center-column;
    width: 100%;
}

.container__title {
    color: #333333;
    margin-top: 5rem;
}

.section {
    @include flex-center-row;
    flex-wrap: wrap;
    width: 100%;
}

.section__article {
    width: 40%;
    text-align: left;
}

.section__title {
    font-family: 'PeaceSans';
    width: 80%;
    font-size: 7rem;
    font-weight: bold;
    color: rgb(73, 73, 73);
    margin: 0;
    &--center {
        text-align: center;
    }
}

.section__text {
    font-size: 2rem;
    font-family: 'Open Sans', sans-serif;
    &--works {
        padding-left: 10%;
        width: 25%;
    }
}

// Misc items

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #ffffff;
    text-indent: 1rem;
    padding: 1rem;
}

::-moz-placeholder { /* Firefox 19+ */
    color: #ffffff;
    text-indent: 1rem;
    padding: 1rem;
}

:-ms-input-placeholder { /* IE 10+ */
    color: #ffffff;
    text-indent: 1rem;
    padding: 1rem;
}

:-moz-placeholder { /* Firefox 18- */
    color: #ffffff;
    text-indent: 1rem;
    padding: 1rem;
}