.button {
    text-transform: uppercase;
    height: 5rem;
    width: 18rem;
    border-radius: 3rem;
    border: none;
    font-weight: bold;
    &--red {
        background-color: rgb(188,46,58);
        color: #ffffff;
    }
    @include mq-max(600px) {
        display: block;
        margin: 0 auto;
    }
}