@font-face{ 
	font-family: 'PeaceSans';
	src: url('https://michalgrochowski.github.io/weekly-webdev-challenge-37/app/font/peace_sans-webfont.eot');
	src: url('https://michalgrochowski.github.io/weekly-webdev-challenge-37/app/font/peace_sans-webfont.eot?iefix') format('eot'),
	     url('https://michalgrochowski.github.io/weekly-webdev-challenge-37/app/font/peace_sans-webfont.woff') format('woff'),
	     url('https://michalgrochowski.github.io/weekly-webdev-challenge-37/app/font/peace_sans-webfont.ttf') format('truetype'),
	     url('https://michalgrochowski.github.io/weekly-webdev-challenge-37/app/font/peace_sans-webfont.svg#webfont') format('svg');
}
		
@font-face{ 
	font-family: 'LemonMilk';
	src: url('https://michalgrochowski.github.io/weekly-webdev-challenge-37/app/font/LemonMilk.otf');
}
		
@font-face{ 
	font-family: 'LemonMilkBold';
	src: url('https://michalgrochowski.github.io/weekly-webdev-challenge-37/app/font/LemonMilkbold.otf');
}

@font-face{ 
	font-family: 'LemonMilkLight';
	src: url('https://michalgrochowski.github.io/weekly-webdev-challenge-37/app/font/LemonMilklight.otf');
}