@font-face{ 
	font-family: 'PeaceSans';
	src: url('../../font/peace_sans-webfont.eot');
	src: url('../../font/peace_sans-webfont.eot?iefix') format('eot'),
	     url('../../font/peace_sans-webfont.woff') format('woff'),
	     url('../../font/peace_sans-webfont.ttf') format('truetype'),
	     url('../../font/peace_sans-webfont.svg#webfont') format('svg');
}
		
@font-face{ 
	font-family: 'LemonMilk';
	src: url('../../font/LemonMilk.otf');
}
		
@font-face{ 
	font-family: 'LemonMilkBold';
	src: url('../../font/LemonMilkbold.otf');
}

@font-face{ 
	font-family: 'LemonMilkLight';
	src: url('../../font/LemonMilklight.otf');
}