.about {
    min-height: 750px;
    @include flex-center-row;
    position: relative;
    z-index: 1;
    &::after {
        position: absolute;
        right: 0;
        top: -300px;
        display: block;
        content: "";
        height: 800px;
        width: 800px;
        background-color: rgb(23,23,23);
        transform: rotate(45deg);
        z-index: -1;
        @include mq-max(1024px) {
            display: none;
        }
    }
    @include mq-max(600px) {
        @include flex-center-column;
        min-height: 500px;
    }
}

.about__macbook {
    width: 40%;
    @include mq-max(600px) {
        margin-top: 3rem;
        width: 80%;
    }
}
