.clients {
    min-height: 750px;
    position: relative;
    z-index: 4;
    &::before {
        position: absolute;
        content: "";
        display: block;
        background-color: rgb(188,46,58);
        width: 800px;
        height: 800px;
        transform: rotate(45deg) translateY(-50%);
        left: -750px;
        top: 40%;
        z-index: 4;
        @include mq-max(600px) {
            display: none;
        }
    }
    &::after {
        position: absolute;
        content: "";
        display: block;
        background-color: rgb(23,23,23);
        width: 600px;
        height: 600px;
        transform: rotate(-45deg);
        right: -300px;
        top: -400px;
        z-index: 1;
        @include mq-max(600px) {
            display: none;
        }
    }
}

.clients__box {
    @include flex-center-row;
    position: relative;
    z-index: 6;
    margin-top: -10rem;
    @include mq-max(600px) {
        flex-direction: column;
        margin-top: 0;
    }
}

.clients__client-face {
    @include mq-max(600px) {
        width: 80%;
    }
}

.clients__opinion {
    width: 40%;
    margin-left: 10rem;
    position: relative;
    @include mq-max(600px) {
        width: 75%;
        margin: 0 10% 0 15%;
    }
}

.clients__quote {
    position: absolute;
    top: 0;
    left: -10rem;
    @include mq-max(600px) {
        left: -7rem;
        opacity: 0.5;
    }
}

.clients__testimonials {
    font-size: 2.4rem;
    font-style: italic;
    @include mq-max(600px) {
        font-size: 1.6rem;
        padding-left: 5%;
    }
}

.clients__client-name {
    font-size: 2rem;
    font-weight: bold;
}

.clients__thumbnail {
    @include flex-row;
}

.clients__thumbnail-img {
    height: 100%;
    width: auto;
}