.clients {
    min-height: 800px;
    position: relative;
    z-index: 4;
    &::before {
        position: absolute;
        content: "";
        display: block;
        background-color: rgb(188,46,58);
        width: 800px;
        height: 800px;
        transform: rotate(45deg) translateY(-50%);
        left: -750px;
        top: 40%;
        z-index: 4;
        @include mq-max(1024px) {
            display: none;
        }
    }
    &::after {
        position: absolute;
        content: "";
        display: block;
        background-color: rgb(23,23,23);
        width: 600px;
        height: 600px;
        transform: rotate(-45deg);
        right: -300px;
        top: -400px;
        z-index: 1;
        @include mq-max(1024px) {
            display: none;
        }
    }
}

.clients__box {
    position: relative;
    z-index: 6;
    @include mq-minmax(601px,1024px) {
        margin-top: -10rem;
    }
}

.clients__item {
    @include flex-center-row;
    width: 80vw;
    margin: 0 10%;
    @include mq-max(600px) {
        flex-direction: column;
    }
}

.clients__box.owl-carousel .owl-item .clients__item .clients__client-face {
    width: 50%;
    height: auto;
    @include mq-max(600px) {
        width: 100%;
    }
}

.clients__opinion {
    width: 80%;
    margin-left: 10rem;
    position: relative;
    @include mq-max(600px) {
        width: 75%;
        margin: 0 10% 0 15%;
    }
}

.clients__box.owl-carousel .owl-item .clients__item .clients__opinion .clients__quote {
    position: absolute;
    top: 0;
    height: 4rem;
    width: auto;
    left: -10rem;
    @include mq-max(600px) {
        left: -7rem;
        opacity: 0.5;
    }
}

.clients__testimonials {
    font-size: 2.4rem;
    font-style: italic;
    @include mq-max(600px) {
        font-size: 1.6rem;
        padding-left: 5%;
    }
}

.clients__client-name {
    font-size: 2rem;
    font-weight: bold;
    @include mq-max(600px) {
        font-size: 1.6rem;
    }
}

.clients__thumbnails {
    width: 15rem;
    height: 8rem;
    @include flex-center-row;
    position: absolute;
    bottom: 10rem;
    left: 45%;
    z-index: 6;
    cursor: pointer;
    @include mq-max(600px) {
        left: 50%;
        width: 70%;
        transform: translateX(-50%);
        bottom: 1rem;
    }
}

.clients__thumbnail-img {
    height: 100%;
    width: auto;
}