.footer {
    min-height: 572px;
    position: relative;
    z-index: 3;
    background-image: url("../img/footer.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    overflow: hidden;
    @include flex-center-column;
    &::after {
        position: absolute;
        content: "";
        display: block;
        background-color: rgb(188,46,58);
        width: 300px;
        height: 300px;
        transform: rotate(45deg) translateY(-50%);
        right: 100px;
        bottom: -300px;
        z-index: 3;
        @include mq-max(600px) {
            display: none;
        }
    }
}

.footer__contact-box {
    @include flex-center-row;
    color: #ffffff;
    width: 100%;
    @include mq-max(600px) {
        flex-direction: column;
    }
    @include mq-minmax(601px,1024px) {
        margin-top: 6rem;
        margin-bottom: 3rem;
    }
    @include mq-min(1025px) {
        margin-top: 4rem;
    }
}

.footer__contact-tile {
    @include flex-column;
    position: relative;
    margin: 0 15rem;
    @include mq-max(600px) {
        justify-content: center;
        align-items: center;
        margin: 1rem 10%;
        width: 80%;
    }
    @include mq-minmax(601px,1024px) {
        margin: 0 5rem;
    }
    @include mq-minmax(1025px,1350px) {
        margin: 0 10rem;
    }
}

.footer__icon {
    position: absolute;
    left: -50%;
    top: 0;
    font-size: 5rem;
}

.footer__title {
    text-align: left;
    margin: 0 0 1rem 0;
}

.footer__link {
    color: #ffffff;
    text-decoration: none;
    transition: all 0.3s;
    &:hover {
        color: #dbdbdb;
        transition: all 0.3s;
    }
}

.footer__social-box {
    width: 100%;
    @include flex-center-row;
    position: relative;
    height: 80px;
    &::after {
        position: absolute;
        content: "";
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        display: block;
        width: 30%;
        height: 1px;
        background-color: #ffffff;
        @include mq-max(600px) {
            width: 80%;
            top: 90%;
        }
    }
    @include mq-min(1025px) {
        margin-top: 2rem;
    }
}

.footer__social-icon {
    font-size: 2rem;
    margin: 1rem;
    @include mq-max(600px) {
        margin: 0.5rem;
    }
}

.footer__copyright {
    color: #dbdbdb;
    margin: 0;
    @include mq-max(600px) {
        font-size: 1.4rem;
        padding: 0.5rem 1rem;
        text-align: center;
    }
    @include mq-minmax(601px,1024px) {
        margin-top: 2rem;
    }
    @include mq-min(1025px) {
        margin-top: 3rem;
    }
}