.header {
    font-family: 'Lato', sans-serif;
}

.nav {
    @include flex-center-row;
    justify-content: space-between;
    width: 100%;
    height: 8rem;
    padding: 1rem 2rem 1rem 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: transparent;
    z-index: 10;
    transition: height 0.5s, background-color 0.5s;
    @include mq-max(600px) {
        padding: 1rem 0 1rem 0;
    }
    @include mq-max(900px) {
        height: 7rem;
    }
    &--small {
        height: 5rem;
        padding: 0.2rem 2rem 0.2rem 0;
        transition: height 0.5s, background-color 0.5s;
    }
    &--scrolled {
        background-color: rgba(23,23,23,0.7);
    }
}

.nav__logo {
    font-size: 4rem;
    text-decoration: none;
    margin: 0 3rem;
    color: #ffffff;
    font-weight: bold;
    transition: 0.3s all;
    @include mq-max(600px) {
        font-size: 3rem;
    }
    &--small {
        font-size: 3rem;
        @include mq-max(600px) {
            font-size: 2rem;
        }
    }
    &:hover, &:active {
        color: #ebebeb;
        text-decoration: none;
    }
}

.nav__list {
    @include mq-min(851px) {
        @include flex-center-row;
        justify-content: flex-end;
        width: 100%;
    }
    @include mq-max(850px) {
        display: none;
    }
    &--mobile {
        padding: 0;
        position: absolute;
        background-color: rgba(23,23,23,0.7);
        left: 0;
        top: 7.4rem;
        width: 100%;
        display: none;
        &--scrolled {
            top: 3.8rem;
        }
    }
}

.nav__item {
    font-size: 1.8rem;
    padding: 1rem;
    display: block;
    color: #ffffff;
    @include flex-center-row;
    @include mq-max(850px) {
        text-align: center;
        width: 100%;
    }
    &--mobile {
        margin-left: 0;
        padding: 1rem 0;
    }
    &:last-of-type {
        @include mq-min(851px) {
            margin-right: 3rem;
        }
    }
}

.nav__link {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    &:hover {
        color: #eaeaea;
        text-decoration: underline;
    }
}

.nav__icon {
    color: #ffffff;
    font-size: 2rem;
    background: transparent;
    border: none;
    cursor: pointer;
    @include mq-max(600px) {
        font-size: 2.5rem;
    }
}

.nav__hamburger {
    color: #ffffff;
    font-size: 3rem;
    border: none;
    background: none;
    @include mq-min(851px) {
        display: none;
    }
}

.nav__close-menu {
    @extend .nav__hamburger;
    display: none;
}