.hero {
    width: 100%;
    min-height: 100vh;
    background-image: url("../img/bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    z-index: 2;
}

.hero__title {
    text-align: center;
    position: absolute;
    top: 45%;
    transform: translateY(-55%);
    left: 10%;
    font-size: 12rem;
    width: 50vw;
    color: #ffffff;
    opacity: 0.3;
    line-height: 0.85;
    filter: grayscale(100%);
    font-family: 'LemonMilkBold';
    @include mq-max(600px) {
        font-size: 4rem;
        left: 0;
        width: 100%;
    }
    @include mq-minmax(601px,1024px) {
        font-size: 6rem;
        left: 0;
        width: 100%;
    }
}

.hero__big-title {
    font-size: 14rem;
    @include mq-max(600px) {
        font-size: 6rem;
    }
}

.hero__big-small {
    font-size: 8rem;
    @include mq-max(600px) {
        font-size: 4rem;
    }
}

.hero__model {
    position: absolute;
    top: 15%;
    right: 0;
    @include mq-max(1024px) {
        display: none;
    }
}

.hero__button {
    position: absolute;
    top: 70%;
    left: 40%;
    border-radius: 2rem;
    background-color: #ffffff;
    border: 1px solid #000000;
    height: 4rem;
    width: 15rem;
}