.team {
    min-height: 750px;
    background-color: rgb(246,246,246);
    position: relative;
    z-index: 5;
    @include flex-center-column;
}

.team__carousel {
    width: 100%;
    padding: 30px 0;
}

.team__carousel-item {
    height: 500px;
    padding: 2rem;
}

.team__carousel-image {
    max-height: 100%;
    width: auto;
}

.slick-current {
    z-index: 5;
    transform: scale(1.2);
    transition: all 0.5s;
}