.works {
    min-height: 720px;
    position: relative;
    z-index: 6;
    @include flex-center-column;
    &::before {
        position: absolute;
        content: "";
        display: block;
        background-color: #000000;
        width: 300px;
        height: 300px;
        transform: rotate(45deg);
        left: -150px;
        top: 80%;
        z-index: 5;
        @include mq-max(600px) {
            display: none;
        }
    }
    &::after {
        position: absolute;
        content: "";
        display: block;
        background-color: rgb(188,46,58);
        width: 800px;
        height: 800px;
        transform: rotate(45deg) translateY(-50%);
        right: -200px;
        top: 50%;
        z-index: 6;
        @include mq-max(600px) {
            display: none;
        }
    }
}

.works__box {
    @include flex-center-row;
    width: 100%;
    margin-bottom: 15rem;
    @include mq-max(600px) {
        flex-direction: column;
    }
}

.works__text-box {
    padding-left: 10%;
    width: 35%;
    @include mq-max(600px) {
         width: 80%;
    }
}

.works__tiles {
    width: 65%;
    min-height: 365px;
    @include flex-center-row;
    position: relative;
    z-index: 7;
    margin-left: 15rem;
    @include mq-max(600px) {
         flex-direction: column;
    }
}

.works__tile {
    height: 100%;
    margin-left: -15rem;
}