.works {
    min-height: 50vh;
    position: relative;
    z-index: 3;
    @include flex-center-column;
    &::before {
        position: absolute;
        content: "";
        display: block;
        background-color: #000000;
        width: 300px;
        height: 300px;
        transform: rotate(45deg);
        left: -150px;
        top: 80%;
    }
    &::after {
        position: absolute;
        content: "";
        display: block;
        background-color: rgb(188,46,58);
        width: 800px;
        height: 800px;
        transform: rotate(45deg) translateY(-50%);
        right: -200px;
        top: 50%;
    }
}

.works__tiles {
    width: 65%;
    @include flex-center-row;
    position:  relative;
    z-index: 2;
}

.works__tile {
    width: 30%;
    margin-left: -10rem;
}